.part_header {
	margin-top: 50px;
}

#poster {
	width: 220px;
	margin-left: 10px;
}

#profile dt {
	font-size: 14px;
}

#profile dd {
	font-size: 14px;
	margin-bottom: 4px;
}

.note {
	margin: 20px auto;
}

.note_header {
	background: rgb(243, 245, 247);
	color: rgb(51, 119, 170);
	font-size: 16px;
	padding: 8px 20px;
}

.showorhide {
	width: 100px;
	float: right;
}

.note_avatar {
	width: 50px;
	height: 50px;
	padding: 0;
	margin-left: 5px;
}

.note_name {
	margin-left: 20px;
}

.note_mark {
	margin: auto 10px;
}

.note_date {
	color: grey;
}

.note_text {
	font-size: 16px;
	margin: 10px;
}

pre {
	font-size: 16px;
	font-family: "Î¢ÈíÑÅºÚ";
	width: 100%;
	padding: 0;
	white-space: pre-wrap; 
	word-wrap : break-word;
	border: none;
	background-color: white;
	word-wrap: break-word;
}

.toallnote {
	font-size: 20px;
	margin: 100px 0 100px 0;
}